/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

 * CHARLESBANK WEBSITE
 * October 2015
 * Todd Douglas
 * www.boldyellow.com
  
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||



------------------------------------------------------------------------
CONTENTS
------------------------------------------------------------------------

01. GRID-RELATED ITEMS
	- grid: panels 
	- grid: row padding 
	- grid: css multiple columns 
	
02.	TYPOGRAPHY

03. TYPOGRAPHY UTILITIES
	- type utils: heads with rules before/after 
	- type utils: text case, color and effects 
	- type utils: accessibility 
	
04. BACKGROUND COLORS

05. NAVIGATION AND BRAND (desktop and mobile)

06. SLIDERS (home and various portfolio pages)
	- sliders: resets
	- sliders: base styles
	- sliders: default style
	- sliders: slider page indicators
	- sliders: slider vertical center text
	
07. BACKGROUND IMAGES (with vertical centered text)
	- bkgrd imgs: page head image panels with vertical center text
	- bkgrd imgs: news and contact have smaller page heads
	- bkgrd imgs: mid-page section image with vertical center text
	
08. TRIANGLES AND RULES
	- tri/rules: plain white triangle at bottom of section
	- tri/rules: triangles at bottom of section to match bkgrd color
	- tri/rules: special case - home page triangle is only grey for mobile
	- tri/rules: image triangle shows thru mask at bottom of bkgrd image
	- tri/rules: horizontal rules
	
09. BREADCRUMBS
	- breadcrumb: keeps breadcrumb visible under fixed nav
	- breadcrumb: sticky bar adjust for mobile
	- breadcrumb: hide breadcrumb when mobile nav scrolls on small phone landscape
	
10. PAGE-SPECIFIC ITEMS
	- page: home page contact section
	- page: hoverboxes on home, team and various portfolio pages
	- page: hoverboxes on portfolio case studies overview
	- page: portfolio case study (single)
	- page: portfolio list view		
	- page: portfolio and our team sort/filter if no results
	- page: news overview (all)	
	- page: news story (single)
	- page: management perspective
	- page: contact
	- page: info stats trio (home and approach)
	- page: segment title bars on team and various portfolio pages
	- page: fades 
	
11. BUTTONS	

12. FORM ELEMENTS
	- form: team sort link
	- form: portfolio sort link
	- form: list view link
	- form: dropdowns
	- form: news overview page with search utility
	
13. FOOTER

14. SPACING ADJUSTMENTS (to match design specs)



------------------------------------------------------------------------
COLOR KEY
------------------------------------------------------------------------

blue-dark					#083a53
blue-medium					#52728e
beige-very-light			#f8f9f5
beige-light					#f3f4eb
beige-light-medium			#ecece1
beige-medium				#e3e8de
olive						#728472
slate-light					#bdc4c7
slate-dark					#74868b



------------------------------------------------------------------------
BREAKS
------------------------------------------------------------------------

 - xsmall (640)					up to 40em (mobile nav)
 - small (641px to 767px)		40.063em to 47.938em (mobile nav)
 - medium (768px to 959px)		48em to 59.938em
 - large (960px to 1199px) 		60em to 74.938em
 - xlarge (1200px)				75em and up
 
 
 
------------------------------------------------------------------------ */





/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   01. GRID-RELATED ITEMS
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* grid: panels 
------------------------------------------------------------------------ */

.home-slider-panel,
.portfolio-slider-panel,
.content-panel {
	padding: 0;
	margin: 0;
	position: relative;
}


/* grid: row padding 
------------------------------------------------------------------------ */

.row {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.row .row {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 62.5em) { 
	 
	.row {
		padding-left: 0;
		padding-right: 0;
	}
	
}


/* grid: css multiple columns 
------------------------------------------------------------------------ */

@media only screen and (min-width: 40.063em) {
	
	.columns-count-2 {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		-webkit-column-gap: 30px;
		-moz-column-gap: 30px;
		column-gap: 30px;
	}
	
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   02. TYPOGRAPHY
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


body {
	font-family: 'montserratlight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
	font-size: 100%;
    line-height: 1.4;
}

h1, h2, h5 {
    font-family: "sina_novamedium_italic", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    z-index: 0;
}

h1 {
    font-size: 1.8em;
    line-height: 1;
    margin-bottom: 0.5em;
}

.home-slider-panel h1 {
    font-family: "sina_novamedium", Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 1.375rem;
    line-height: 1.3;
	color: #083a53;
}

h2 a {
	text-decoration: none;
	color: #083a53;
}

h2 a:hover {
	text-decoration: none;
	color: #083a53;
	padding-bottom: 0;
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 36px;
}

h2 + p {
	margin: 2em 0 0 0;
}

h3 {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 0.75em;
    line-height: 1.1;
    margin: 0 0 2em 0;
    padding-bottom: 0.25em;
	border-style: solid;
	border-width: 0px 0px 2px;
	-moz-border-image: url('../img/border-dots-black.png') 24 0 25 6 round;
	-webkit-border-image: url('../img/border-dots-black.png') 24 0 25 6 round;
	-o-border-image: url('../img/border-dots-black.png') 24 0 25 6 round;
	border-image: url('../img/border-dots-black.png') 24 0 25 6 round;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: inline-block;
}

h4 {
	font-family: "sina_novamedium", Georgia, "Times New Roman", Times, serif;	
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
	line-height: 1.3;
}

h4 a {
	color: #083a53;
	text-decoration: none;
}

h4 a:hover {
	color: #083a53;
	padding-bottom: 0;
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(39,85,107,0.8) 75%);
	background-repeat: repeat-x;
	background-size: 2px 3px;
	background-position: 0 23px;
}

h5 {
	font-size: 1em;
    line-height: 1.1;
}

h6 {
	font-family: 'montserratlight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
	font-size: 0.85em;
	line-height: 1.2;
	color: #74868b;
}

h6.text-rule-below {
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}

p, li {
	font-size: 0.85em;
    line-height: 1.5;
}

p b, p strong {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

p.read-more {
	margin: 0;
}

p.read-more a:hover {
	color: #4b5c60;
}

p.read-more a:after {
	content: "";
	display: inline-block;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: -81px -47px;
    background-size: 175px 175px;
	background-color: transparent;
	width: 14px;
	height: 14px;
	margin-left: 9px;
    margin-bottom: -1px;
    opacity: 0.6;
}

p.read-more a:hover:after {
    opacity: 1;
}

p a:hover {
	color: #74868b;
	text-decoration: underline;
}

p + ul {
    margin-top: -1.25em;
}

a {
	color: #74868b;
}

a.download-icon:after {
	content: "";
	display: inline-block;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: -159px -44px;
    background-size: 175px 175px;
	background-color: transparent;
	margin-left: 0.15em;
	margin-bottom: -0.08em;
	width: 14px;
	height: 14px;
	opacity: 0.65;
}

a.download-icon:hover:after {
	opacity: 1;
}


/* typography media queries 
------------------------------------------------------------------------ */

@media only screen and (min-width: 40.125em) and (max-width: 47.938em) {
	
	h1 {
	    font-size: 2.2em;
	}
		
	.home-slider-panel h1 {
	    font-size: 3.4em;
	    margin-bottom: 0.25em;
	}

	h2 {
	    font-size: 1.75rem;
		line-height: 1.2;
	}

	h3 {
	    font-size: 1em;
	}
	
	h4 {
		font-size: 1.3em;
	}
	
	h5 {
		font-size: 1.2em;
	    line-height: 1.1;
	}
	
	p, li {
		font-size: 0.9em;
	}

}

@media only screen and (min-width: 48em) {  

	h1 {
	    font-size: 2.3em;
	}
		
	.home-slider-panel h1 {
	    font-size: 3.5em;
	    margin-bottom: 0.5em;
	}

	h2 {
	    font-size: 2.125rem;
		line-height: 1.2;
	}

	h3 {
	    font-size: 1em;
	}
	
	h4 {
		font-size: 1.3em;
	}
	
	h5 {
		font-size: 1.5em;
	}
	
	p, li {
		font-size: 0.9em;
	}

}

@media only screen and (min-width: 56.250em) {  
	
	h1 {
	    font-size: 2.8em;
	}
		
	h4 {
		font-size: 1.4em;
	}
	
	p, li {
		font-size: 1em;
	}

}

.recent-news p {
	font-size: 0.85em;
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   03. TYPOGRAPHY UTILITIES
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* type utils: heads with rules before/after 
------------------------------------------------------------------------ */

@media only screen and (min-width: 50em) {  

	.headline-rule-middle h1 {
	    text-align: center;
	}
	
	.headline-rule-middle h1:before,
	.headline-rule-middle h1:after {
	    position: relative;
	    display: inline-block;
	    width: 50%;
	    height: 1px;
	    content: "";
	    vertical-align: middle;
	    background-color: #083a53;
	}
	
	.headline-rule-middle.text-white h1:before,
	.headline-rule-middle.text-white h1:after {
	    background-color: #fff !important;
	}

	.headline-rule-middle h1:before {
	    right: 0.5em;
	    width: 70px;
	}
	
	.headline-rule-middle h1:after {
	    left: 0.5em;
	    width: 70px;
	}
		
}


/* type utils: text case, color and effects 
------------------------------------------------------------------------ */

@media only screen and (max-width: 40em) {  

	.text-center-small {
		text-align: center !important;
	}
	
	.image-center-small {
		margin: 0 auto;
		display: block;
	}

}

.text-caps {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white p,
.text-white a {
	color: #fff;
}

.text-white a:hover {
	color: #fff;
}

.text-white h2 {
	color: #fff;
}

.text-white h2 a {
	text-decoration: none;
	color: #fff;
}

.text-white h2 a:hover {
	color: #fff;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) 75%, rgba(255,255,255,0.8) 75%);
}

.text-white h3 {
	border-style: solid;
	border-width: 0px 0px 2px;
	-moz-border-image: url('../img/border-dots-white.png') 24 6 24 0 repeat;
	-webkit-border-image: url('../img/border-dots-white.png') 24 6 24 0 repeat;
	-o-border-image: url('../img/border-dots-white.png') 24 6 24 0 repeat;
	border-image: url('../img/border-dots-white.png') 24 6 24 0 repeat;
}

.text-blue-dark h1,
.text-blue-dark h2,
.text-blue-dark h3,
.text-blue-dark h4,
.text-blue-dark h5,
.text-blue-dark p,
.text-blue-dark span {
	color: #083a53;
}

.text-rule-below {
	border-bottom: 1px solid #74868b;
	padding: 0.15em 0;
}

.text-white .text-rule-below {
	border-bottom: 1px solid #fff;
}

.text-extra-spaced p,
.text-extra-spaced li {
	line-height: 2.25 !important;
}

.text-shadow {
	text-shadow: 0px 0px 5px rgba(60, 60, 60, 1);
}

.text-shadow {
	-webkit-animation: fadein 2s; 
	-moz-animation: fadein 2s; 
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* type utils: accessibility 
------------------------------------------------------------------------ */

#skip-to-content {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	left: -100px;
	
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   04. BACKGROUND COLORS
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.bg-blue-dark {
	background-color: #083a53;
}

.bg-blue-medium {
	background-color: #52728e;
}

.bg-beige-very-light {
	background-color: #f8f9f5;
}

.bg-beige-light {
	background-color: #f3f4eb;
}

.bg-beige-light-medium {
	background-color: #ecece1;
}

.bg-olive {
	background-color: #728472;
}

.bg-beige-medium {
	background-color: #e3e8de;
}

.bg-slate-light {
	background-color: #bdc4c7;
}

.bg-slate-dark {
	background-color: #74868b;
}


/* special case (different bg colors on home page for desktop/mobile) 
------------------------------------------------------------------------ */

@media only screen and (max-width: 40em) {
	
	/* don't really need a shdw now */
	.home-partnering-panel .text-shadow {
		text-shadow: none;
	}

}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   05. NAVIGATION AND BRAND (desktop and mobile)
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.contain-to-grid {
	z-index: 10000;
}

@media only screen and (min-width: 48em) {
	
	.contain-to-grid {
		background-color: rgba(245, 245, 245, 0.8); 
	}

	.contain-to-grid.opacity80 {
		background-color: rgba(245, 245, 245, 0.8); 
	}

	.contain-to-grid.opacity95 {
		background-color: rgba(245, 245, 245, 0.95); 
	}
	
}

.nav-wrap {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	padding-left: 1.5em;
	padding-right: 1.5em;
}


@media only screen and (max-width: 47.938em) {
	
	.fixed-nav-row {
		height: 8.250em;
	}

	.nav-wrap {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (min-width: 48em) and (max-width: 60.5em) {
	
	.nav-wrap {
		padding-left: 2.125em;
		padding-right: 2.125em;
	}

}

@media only screen and (min-width: 60.563em) and (max-width: 62.438em) {
	
	.nav-wrap {
		padding-left: 2.75em;
		padding-right: 2.75em;
	}

}

a.partner-login {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #083a53;
	padding: 0.75em;
	line-height: 1;
	width: 100%;
	height: 2.563em;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.1em;
}

.scroll-top, .scroll-down {
	margin-top: 0;
	margin-bottom: 0;
    -webkit-transition: margin-top 0.05s, margin-bottom 0.05s;
    transition: margin-top 0.05s, margin-bottom 0.05s;
}

@media only screen and (min-width: 48em) {
	
	a.partner-login:hover {
		background-color: #b4252d;
		color: #fff;
	}

	.scroll-top a.partner-login {
		top: -60px;
		width: auto;
		height: auto;
	}
	
	.scroll-down a.partner-login {
		display: none;
	}

}

.top-bar {
    height: 5.5em;
	background-color: #fff;
}

.top-bar .name {
    height: 2.8125em;
    width: 0;
}

.top-bar .title-area {
    margin-top: 2.25em;
}

.top-bar.expanded .title-area {
	background-color: #fff;
}

.top-bar .toggle-topbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.top-bar .toggle-topbar.menu-icon {
    margin-top: -1.35em;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #425652;
	padding: 0;
}


/* this is the closed mobile nav chevron */
.top-bar .toggle-topbar.menu-icon a span::after {
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25px;
    right: 0;
    left: 0;
    box-shadow: none;
    width: 100%;
    background-color: #fff;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: 50% -70px;
    background-size: 120px 120px;
}

.top-bar.expanded {
    background: #fff;
}

/* this is the open mobile nav chevron */
.top-bar.expanded .toggle-topbar a span::after {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: 50% -52px;
    background-size: 120px 120px;
}

.top-bar-section ul {
    margin-top: 0.75em;
}

.top-bar-section ul li {
	text-align: center;
    background-color: #fff;
}

.top-bar-section ul li>a {
	font-size: 0.825em;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	padding: 12px 0;
    background-color: #fff;
    color: #083a53;
    border-top: 1px solid #eee;
}

.top-bar-section ul.right li>a:hover {
    color: #b3272d;
    background-color: #fff;
}

.top-bar-section ul li.active>a {
    color: #083a53;
    background-color: #e6e7d7;
}

.top-bar-section ul li.active>a:hover {
	color: #083a53;
	background-color: #e6e7d7;
}

.top-bar-section ul li:last-of-type>a {
    border-bottom: 1px solid #eee;
}

/* change fixed mobile nav to scroll just for small phone landscape */
@media only screen and (max-width: 33.75em) and (orientation: landscape) {

	.fixed {
		position: absolute;
	}
	
}

@media only screen and (min-width: 48em) {
	
	.row .fixed .top-bar {
		background-color: transparent;
		height: 2.8em;
		max-width: 58.5em;
	}
	
	.row .fixed .top-bar.scroll-top {
		margin-top: 60px;
		margin-bottom: 30px;
	}
	
	.row .fixed .top-bar.scroll-down {
		margin-top: 32px;
		margin-bottom: 0;
	}
	
	.top-bar .title-area {
		margin-top: 0;
	}

	/* desktop brand */
	.title-area .name a {
		display: block;
		width: 12.5em;
		height: 1.5em;
	    background-color: transparent;
	    background-image: url('../img/sprite.png');
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	    background-size: 200px 200px;
	}

	.top-bar-section ul {
		margin-top: -0.313em;
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		background-color: transparent;
		line-height: 2.8125em;
		padding: 0 0 0 1.5em;
		text-align: right;
	}
	
	.top-bar-section li.active:not(.has-form) a:not(.button) {
	    background: transparent;
	    color: #083a53;
		padding: 0 0 0 1.5em;
		line-height: 2.8125em;
	}

	.top-bar-section li.active a span {
		display: inline;
		border-bottom: 1px solid #0f303f;
	}

	.top-bar-section li.active:hover:not(.has-form) a:not(.button) {
	    background: transparent;
	    color: #083a53;
		text-decoration: none;
	}

	.top-bar-section ul li {
		background-color: transparent;
	}
	
	.top-bar-section ul li>a {
		color: #083a53;
		border: none;
	}
	
	.top-bar-section ul li>a:last-of-type {
	    border: none;
	}

	.contain-to-grid .top-bar .top-bar-section ul li>a:hover {
		color: #b4252d;
		background-color: transparent;
		border: none;
	}

}

/* mobile brand */
.mobile-brand {
    position: relative;
    top: 6em;
    left: 0;
    right: 0;
    width: 100%;
	display: block;
	height: 1.5em;
    background-color: #fff;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 170px 170px;
}

.mobile-brand a {
	display: block;
	width: 100%;
	height: 1.3em;
}

@media only screen and (min-width: 48em) {
	
	.mobile-brand {
		display: none;
	}
	
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   06. SLIDERS (home and various portfolio pages)
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* sliders: resets
------------------------------------------------------------------------ */

.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
 	outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-pauseplay span {
	text-transform: capitalize;
}


/* sliders: base styles
------------------------------------------------------------------------ */

.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
}

.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .flexslider .slides {
	display: block;
}

* html .flexslider .slides {
	height: 1%;
}

.no-js .flexslider .slides > li:first-child {
	display: block;
}

.flexslider.text-shadow ul li h1,
.flexslider.text-shadow ul li h3,
.flexslider.text-shadow ul li h5 {
	text-shadow: 0px 0px 5px rgba(60, 60, 60, 1);
}


/* sliders: default style 
------------------------------------------------------------------------ */

.flexslider {
	margin: 0;
	background: #ffffff;
	position: relative;
	zoom: 1;
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides img {
	height: auto;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}

.carousel li {
	margin-right: 5px;
}


/* not using these items but left here if needed 
------------------------------------------------------------------------ */

.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 40px;
	height: 40px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
}

.flex-direction-nav a:before {
	font-family: Arial;
	font-size: 40px;
	display: inline-block;
	content: 'o';
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
	content: '\f002';
}

.flex-direction-nav .flex-prev {
	left: 50px;
}

.flex-direction-nav .flex-next {
	right: 50px;
	text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}

@media screen and (max-width: 860px) {
	
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}
	
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}

}

.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}

.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}

.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}

.flex-pauseplay a:hover {
	opacity: 1;
}

.flex-pauseplay a.flex-play:before {
	content: '\f003';
}


/* sliders: slider page indicators on home and misc portfolio pages
------------------------------------------------------------------------ */

.home-slider-panel .flex-control-nav,
.portfolio-slider-panel .flex-control-nav  {
	width: 100%;
	position: absolute;
    text-align: center;
    z-index: 10;
}

.home-slider-panel .flex-control-nav {
    bottom: 50px;
}

.portfolio-slider-panel .flex-control-nav { 
    bottom: 40px;
}

@media only screen and (min-width: 48.063em) { 
	 
	.home-slider-panel .flex-control-nav {
    	bottom: 80px;
	}
	
}

.flex-control-nav li {
	margin: 0 9px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 6px;
	height: 6px;
	display: block;
	background: #fff;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
}

.flex-control-paging li a:hover {
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
    position: relative;
}

.flex-control-paging li a:hover:before {
	width: 12px;
	height: 12px;
	background: transparent;
	border-radius: 50%;
    position: absolute;
    left: -3px;
    top: -3px;
    border: 1px solid #fff;
    content: '';
}

.flex-control-paging li a.flex-active {
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
    position: relative;
}

.flex-control-paging li a.flex-active:before {
	width: 12px;
	height: 12px;
	background: transparent;
	border-radius: 50%;
    position: absolute;
    left: -3px;
    top: -3px;
    border: 1px solid #fff;
    content: '';
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}


/* sliders: slider vertical center text (home and portfolio)
   we're using the table / table-cell display technique
------------------------------------------------------------------------ */

.home-slider-image,
.portfolio-slider-image  {
    width: 100%;
    background-color: transparent;
 	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.home-slider-image {
    height: 330px;
}

.portfolio-slider-image {
    height: 330px;
}

.home-slider-text-wrap,
.portfolio-slider-text-wrap {
	display: table;
	width: 100%;
}

.home-slider-text,
.portfolio-slider-text  {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
	padding: 0;
	width: 100%;
}

.home-slider-text {
	height: 310px;
}

.portfolio-slider-text {
	height: 310px;
}

.portfolio-slider-text h1 a {
	color: #fff;
	text-decoration: none;
}

.portfolio-slider-text h1 a:hover {
	color: #fff;
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) 75%, rgba(255,255,255,0.8) 75%);
	background-repeat: repeat-x;
	background-size: 2px 5px;
	background-position: 0 48px;
}

.portfolio-slider-text h3 {
	margin-top: 0;
	margin-bottom: 0.75em;
	border: none;
}

.home-slider-panel .loading,
.portfolio-slider-panel .loading {
	min-height: 310px; 
	background: #fff url('../img/preloader.gif') no-repeat 50% 50%;
	background-size: 50px 50px;
	opacity: 0.1;
}

@media only screen and (min-width: 48em) { 
	 
	.home-slider-panel .loading {
	    height: 640px;
	}
	
	.home-slider-image {
	    height: 640px;
	}
	
	.home-slider-text-wrap {
		margin-top: 135px;
	}

	.home-slider-text {
	    height: 485px;
		padding: 0;
	}

	.portfolio-slider-panel .loading {
	    height: 520px;
	}
	
	.portfolio-slider-image {
	    height: 520px;
	}
	
	.portfolio-slider-text-wrap {
		margin-top: 135px;
	}

	.portfolio-slider-text {
	    height: 355px;
		padding: 0;
	}
	
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   07. BACKGROUND IMAGES (with vertical centered text)
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* bkgrd imgs: page head image panels with vertical center text
   using the table / table-cell display technique
------------------------------------------------------------------------ */

.page-head-bg-img {
    height: 250px;
    width: 100%;
    background-color: transparent;
 	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: table;
}

.page-head-bg-img-text-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    height: 230px;
}

@media only screen and (min-width: 48em) {
	 
	.page-head-bg-img {
	    height: 400px;
	}
	
	.page-head-bg-img-text-wrap {
	    padding-top: 8.438em;
	    padding-bottom: 1.25em;	
	}
	
}


/* bkgrd imgs: news and contact have smaller page heads 
------------------------------------------------------------------------ */

.news-overview-page .page-head-bg-img,
.contact-page .page-head-bg-img {
    height: 100px;
}

.news-overview-page .page-head-bg-img-text-wrap,
.contact-page .page-head-bg-img-text-wrap {
    height: 80px;
}

@media only screen and (min-width: 48em) {
	 
	.news-overview-page .page-head-bg-img,
	.contact-page .page-head-bg-img {
	    height: 300px;
	}
	
	.news-overview-page .page-head-bg-img-text-wrap,
	.contact-page .page-head-bg-img-text-wrap {
	    padding-top: 9.6em;
	    padding-bottom: 1.25em;
	}
	
}


/* bkgrd imgs: mid-page section image with vertical center text 
   again, using the table / table-cell display technique
------------------------------------------------------------------------ */

.section-content-bg-img {
    height: 225px;
    width: 100%;
    background-color: transparent;
 	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: table;
}

@media only screen and (min-width: 40.063em) {
	 
	.section-content-bg-img {
	    height: 300px;
	}
	
}

.section-content-bg-img-text-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    padding-top: 0;
}

@media only screen and (max-width: 40em) {
	 
	.hide-bg-img-small {
		background-image: none !important;
	}

	.home-partnering-panel .hide-bg-img-small {
		padding-top: 40px;
	}

}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   08. TRIANGLES AND RULES
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* tri/rules: plain white triangle at bottom of section
------------------------------------------------------------------------ */

.triangle-bottom:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-top-style: solid;
    border-top-width: 12px;
	border-top-color: #fff;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
    z-index: 1;
}

@media only screen and (min-width: 40.063em) {
	 
	.triangle-bottom:after {
	    margin-left: -16px;
	    border-top-width: 16px;
	    border-left: solid 16px transparent;
	    border-right: solid 16px transparent;
	}

}


/* tri/rules: triangles at bottom of section to match bkgrd color
------------------------------------------------------------------------ */

.triangle-bottom.triangle-slate-light:after {
	border-top-color: #bdc4c7;
    z-index: 1;
}

.triangle-bottom.triangle-beige-medium:after {
	border-top-color: #e3e8de;
    z-index: 1;
}

.triangle-bottom.triangle-olive:after {
	border-top-color: #728472;
    z-index: 1;
}

.triangle-bottom.triangle-beige-very-light:after {
	border-top-color: #f8f9f5;
    z-index: 1;
}

.triangle-bottom.triangle-beige-light:after {
	border-top-color: #f3f4eb;
    z-index: 1;
}

.triangle-bottom.triangle-beige-light-medium:after {
	border-top-color: #ecece1;
    z-index: 1;
}

.triangle-bottom.triangle-green-4:after {
	border-top-color: #e6e7d7;
    z-index: 1;
}

.triangle-bottom.triangle-blue-medium:after {
	border-top-color: #52728e;
    z-index: 1;
}


/* tri/rules: special case - home page triangle is only grey for mobile
------------------------------------------------------------------------ */

@media only screen and (max-width: 40em) {
	 
	.home-partnering-panel.triangle-bottom.triangle-beige-light-medium:after {
		border-top-color: #74868b;
	    z-index: 1;
	}

}


/* tri/rules: image triangle shows thru mask at bottom of bkgrd image  
------------------------------------------------------------------------ */

.triangle-image-mask {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: #fff;
}

.triangle-image-mask:before, 
.triangle-image-mask:after {
	content:'';
	position: absolute;
	bottom: 100%;
	width: 50%;
	box-sizing: border-box;
}

.triangle-image-mask:before {
	right: 50%;
	border-bottom-width: 12px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-right: 12px solid transparent;
}

.triangle-image-mask:after {
	left: 50%;
	border-bottom-width: 12px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-left: 12px solid transparent;
}

@media only screen and (min-width: 40.063em) {
	 
	.triangle-image-mask:before {
		border-bottom-width: 16px;
		border-right: 16px solid transparent;
	}
	
	.triangle-image-mask:after {
		border-bottom-width: 16px;
		border-left: 16px solid transparent;
	}

}

.triangle-image-mask.mask-beige-medium:before,
.triangle-image-mask.mask-beige-medium:after {
	border-bottom-color: #e3e8de;
}

.triangle-image-mask.mask-beige-medium {
	background-color: #e3e8de;
}


/* tri/rules: horizontal rules 
------------------------------------------------------------------------ */

hr {
	border: solid #a4acb0;
	border-width: 1px 0 0 0;
	margin: 1em 0.625em;
	height: 0;
	width: 100%;
	display: inline-block;
}

hr.mobile-divider {
	margin: 0.25em auto;
	width: 40%;
	display: none;
}

@media only screen and (max-width: 40em) {  

	hr.mobile-divider {
		display: inline-block;
	}
	
}

@media only screen and (min-width: 47.938em) {
	
	hr {
		margin: 2.5em 0.625em;
	}

}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   09. BREADCRUMBS
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.breadcrumbs {
	border: none;
	padding: 0.85em 0 0.55em 0;
	margin: 0;
	background-color: transparent;
	display: inline-block;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.breadcrumbs>* {
    color: #fff;
    float: left;
    font-size: 0.82em;
    line-height: 1;
    margin: 0;
	text-transform: none;
}

.breadcrumbs>*:before {
    color: #fff;
    content: "/";
    margin: 0 0.5em;
    position: relative;
    top: 1px;
}

.breadcrumbs li a,
.breadcrumbs li.current a {
	color: #fff;
	text-decoration: none;
}

.case-study-breadcrumb {
	padding-top: 0;
}

@media only screen and (min-width: 47.938em) {
	
	.case-study-breadcrumb {
		padding-top: 135px;
	}
	
}


/* breadcrumb: keeps breadcrumb visible under fixed nav, sigh 
------------------------------------------------------------------------ */

.breadcrumb-page-spacer {
	height: 0;
	display: none;
}

@media only screen and (min-width: 48em) {
	
	.breadcrumb-page-spacer {
		display: block;
		height: 8.563em;
	}
	
}


/* breadcrumb: sticky bar adjust for mobile
   script on breadcrumb pages creates sticky at 77px from top 
   but we add 10px for mobile to clear the nav 
------------------------------------------------------------------------ */

#sticky-breadcrumb-nav {
	z-index: 1000;
	margin-top: 0;
}

@media only screen and (min-width: 48em) {
	
	#sticky-breadcrumb-nav {
		z-index: 10000;
		margin-top: -10px;
	}
	
}

/* breadcrumb: hide breadcrumb when mobile nav scrolls on small phone landscape
   without fixed nav, sticky breadcrumb not needed
------------------------------------------------------------------------ */

@media only screen and (max-width: 33.75em) and (orientation: landscape) {

	sticky-breadcrumb-nav-sticky-wrapper {
		display: none !important;
	}

	#sticky-breadcrumb-nav {
		display: none !important;
	}
	
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   10. PAGE-SPECIFIC ITEMS
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* page: home page contact section 
   has separate design for desktop & mobile views
------------------------------------------------------------------------ */

.home-contact-bg-image {
	position: relative;
    background-color: transparent;
 	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	background-color: rgba(62, 118, 146, 0.4); 
    background-blend-mode: multiply;
	height: 100px;
}

.home-contact-bg-image .contact-hoverbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	color: #fff;
	text-align: center;
	z-index: 1000;
}

.home-contact-bg-image .contact-hoverbox:hover {
	background-color: rgba(101, 136, 159, 0.9); 
	cursor: pointer;
}

.home-contact-bg-image .hoverbox-text-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.home-contact-bg-image .hoverbox-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
}

.home-contact-bg-image .hoverbox-text h4 {
	color: #fff;
}

.home-contact-bg-image .hoverbox-text p {
	color: #fff;
	margin-bottom: 0;
}

@media only screen and (max-width: 40em) {
	
	.home-contact-bg-image {
		background-image: none !important;
		background-color: transparent; 
	}

	.home-contact-bg-image .hoverbox-text p {
		font-size: 0.8em;
	}
	
	.home-contact-bg-image .contact-hoverbox {
		background-color: transparent; 
	}
	
	.home-contact-bg-image .contact-hoverbox:hover {
		background-color: transparent; 
		cursor: default;
	}
	
	.home-contact-bg-image .hoverbox-text h4 {
		color: #334d45;
	}
	
	.home-contact-bg-image .hoverbox-text p {
		color: #27546b;
	}
	
}

@media only screen and (min-width: 40.063em) and (max-width: 47.938em) {
	
	.home-contact-bg-image {
		height: 180px;
	}

	.home-contact-bg-image .hoverbox-text p {
		font-size: 0.7em;
	}
	
}

@media only screen and (min-width: 48em) and (max-width: 59.938em) {
	
	.home-contact-bg-image {
		height: 225px;
	}

	.home-contact-bg-image .hoverbox-text p {
		font-size: 0.8em;
	}
	
}

@media only screen and (min-width: 60em) {
	
	.home-contact-bg-image {
		height: 260px;
	}

	.home-contact-bg-image .hoverbox-text p {
		font-size: 0.9em;
	}
	
}


/* page: hoverboxes on home, team and various portfolio pages
------------------------------------------------------------------------ */

.hoverbox-image-wrap {
	position: relative;
	display: block;
}

.hoverbox-image-wrap img {
	width: 100%;
	height: 100%;
}

.hoverbox-image-wrap .hoverbox {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #083a53;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
	text-align: center;
	padding: 0.75em 0;
	z-index: 500;
	overflow: visible;
}

.hoverbox-image-wrap:hover .hoverbox {
	opacity: 1;
	height: auto;
	min-height: 100%;
}

.hoverbox-image-wrap .hoverbox p {
	font-family: 'montserratlight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
	color: #fff;
	font-size: 0.85em;
	line-height: 1.2;
}

.hoverbox-image-wrap .hoverbox p.team-member-name {
	border-bottom: 1px solid #fff;
	padding-bottom: 0.25em;
	margin: 0 0.75em 0.5em 0.75em;
	display: inline-block;
}

.hoverbox-image-wrap .hoverbox p.team-member-title {
	margin: 0 1.25em;
}

.hoverbox-image-wrap .hoverbox p.team-member-location {
	margin: 0;
}

.hoverbox-image-wrap .hoverbox p.company-name {
	text-transform: uppercase;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
	letter-spacing: 0.1em;
	display: inline-block;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.25em;
	margin: 0 0.75em 1em 0.75em;
}

.hoverbox-image-wrap .hoverbox p.company-description {
	margin: 0 1.25em 0.5em 1.25em;
}

.hoverbox-image-wrap .hoverbox p.company-status {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
	margin: 1em 0;
}


.hoverbox-image-wrap .hoverbox span.arrow {
	display: block;
	margin: 1em auto 0 auto;
	height: 1.5em;
	width: 1.5em;
    background-color: transparent;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -48px;
    background-size: 175px 175px;
}

@media only screen and (min-width: 40em) {
	 
	.hoverbox-image-wrap .hoverbox {
		padding-top: 1em;
	}

	.hoverbox-image-wrap .hoverbox p {
		line-height: 1.4;
	}
	
}


/* page: hoverboxes on portfolio case studies overview
------------------------------------------------------------------------ */

.portfolio-case-studies-overview-page .hoverbox-image-wrap .hoverbox p.company-description {
	line-height: 1.3;
	margin: 0 1.25em 0.5em 1.25em;
}

@media only screen and (min-width: 48.063em) {
	 
	.portfolio-case-studies-overview-page .hoverbox-image-wrap .hoverbox {
		padding-top: 2em;
	}
	
	.portfolio-case-studies-overview-page .hoverbox-image-wrap .hoverbox p.company-description {
		margin: 0 3em 0.5em 3em;
	}

}


/* page: portfolio case study (single)
------------------------------------------------------------------------ */

.case-study-head-wrap {
    height: 140px;
	display: table;
}

.case-study-head {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    padding-top: 0;
}

.case-study-head h1 {
    color: #fff;
	margin-bottom: 0;
}

.case-study-head h3 {
    color: #fff;
	border: none !important;
	border-width: 0 !important;
	margin: 0 0 1em 0; 
}
  
.case-study-head-bg-img {
    background-color: transparent;
 	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media only screen and (min-width: 40em) and (max-width: 47.937em) {
	 
	.case-study-head-wrap {
	    height: 200px;
	}
	
	.case-study-head-bg-img {
	    height: 200px;
	}
	
}

@media only screen and (min-width: 48em) {
	 
	.case-study-head-wrap {
	    height: 260px;
	}
	
	.case-study-head-bg-img {
	    height: 260px;
	}
	
}

.case-study-sidebar {
	width: 100%;
	padding: 2em 1em;
}


/* page: portfolio list view
------------------------------------------------------------------------ */

.hide-name, 
.hide-date {
	display:none;
}

.portfolio-list-view a {
	color: #083a53;
}

.portfolio-list-view a span {
	color: #74868b;
}

.portfolio-list-view a:hover {
	color: #083a53;
	text-decoration: none;
	border-bottom: 1px solid #083a53;
}


/* page: portfolio and our team sort/filter if no results
------------------------------------------------------------------------ */

section.fs-hide, li.unselect-hide, section.unselect-hide, div.no-results-hide {
	display:none
}


/* page: news overview (all)
------------------------------------------------------------------------ */

.news-overview-page hr {
	margin: 1em 0;
}


/* page: news story (single)
------------------------------------------------------------------------ */

.news-story .contacts p {
	font-size: 0.75em;
	margin-bottom: 0.75em;
}

.news-story .contacts p.company-contact-subhead {
	margin-top: 2em;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.news-story hr {
	border: solid #8ba4b6;
	border-width: 1px 0 0 0;
	margin: 1em 0;
	height: 0;
	width: 100%;
	display: inline-block;
}


/* page: management perspective
------------------------------------------------------------------------ */

.management-perspective-quotes h2 {
	text-indent: -0.3em;
}

.management-perspective-quotes p {
	color: #083a53;
}


/* page: contact
------------------------------------------------------------------------ */

.contact-page-info h2 {
	font-size: 1.53em;
	margin-bottom: 0;
}

@media only screen and (min-width: 48em) {
	 
	.contact-page-info h2 {
		margin-bottom: 0.5em;
	}

}

.contact-page-info hr {
	border: solid #b0c1cd;
	border-width: 1px 0 0 0;
	margin: 0.5em 0;
	height: 0;
	width: 100%;
	display: none;
}

.contact-page-info hr.show-mobile {
	display: inline-block;
}

@media only screen and (min-width: 40em) {
	 
	.contact-page-info hr {
		margin: 0 0 0.75em 0;
		display: inline-block;
	}

}

@media only screen and (max-width: 40em) {
	
	.contact-page-info .map-link-wrap {
		position: relative;
		background: none;
	}

}

@media only screen and (min-width: 40.01em) {
	
	.contact-page-info .map-link-wrap {
	    background-color: transparent;
	 	background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;
		height: 175px;
	}
	
	.contact-page-info .map-link {
	    display: table;
	    height: 100%;
	    width: 100%;
	    text-align: center;
    }

    .contact-page-info .map-link .button-wrap {
		display: table-cell;
		vertical-align: middle;
		transition: background-color 300ms ease-out 0s;
    }	

	.contact-page-info .map-link .button-wrap:hover {
		background-color: rgba(255, 255, 255, 0.3)
    }
    
    .contact-page-info .map-link .button-wrap .button {
		background-color: rgba(0, 54, 72, 0.7)
    }	

    .contact-page-info .map-link .button-wrap:hover .button {
		background-color: rgba(0, 54, 72, 1)
    }	

}

.contact-page-info p {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.contact-page-info .phone-numbers p {
	margin-bottom: 0.5em;
}

.contact-page-info .phone-numbers p span {
	color: #083a53;
}


/* page: info stats trio (home and approach)
------------------------------------------------------------------------ */

.info-stats-trio .text-caps { 
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	display: inline-block;
	margin: 5px 0;
}

.info-stats-trio .info-stat {
	margin-bottom: 1.5em;
}

.info-stats-trio .info-stat:last-of-type {
	margin-bottom: 0;
	float: none;
}

@media only screen and (min-width: 40.063em) {
	 
	.info-stats-trio .info-stat {
		margin-bottom: 0;
	}
	
	.info-stats-trio .info-stat:last-of-type {
		margin-bottom: 0;
		float: right;
	}

}

@media only screen and (min-width: 48em) {
	 
	.info-stats-trio .text-caps { 
		font-size: 0.9em;
	}
	
}


/* page: segment title bars on team and various portfolio pages
------------------------------------------------------------------------ */

.segment-title-bar {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	background-color: #52728e;
	display: block;
	padding: 0.5em 0;
	margin: 2em 0;
	font-size: 0.9em;
	line-height: 1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}


/* page: fades 
------------------------------------------------------------------------ */

.page-wrap {
	display: none;
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   11. BUTTONS
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


button, .button {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
    margin: 0;
    padding: 0.5em 1.5em;
    font-size: 0.8em;
    text-transform: uppercase;
	letter-spacing: 0.07em;
	border: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #083a53;
}

.button-rule-above {
	background-color: transparent;
	border-top: 1px solid #74868b;
    padding: 1.1em 1em;
    font-size: 0.875em;
    text-transform: none;
	letter-spacing: 0;
    color: #74868b;
}

@media only screen and (min-width: 48em) {
	 
	.button-rule-above {
	    padding: 1.9em 1em;
	}
	
}

.button-rule-above:hover {
	background-color: #083a53;
	border-top: 1px solid #083a53;
    color: #fff;
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   12. FORM ELEMENTS --- REVISED FOR JAN 11
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


.sorting .row-wrap {
	margin-left: 0;
	margin-right: 0;
}

@media only screen and (min-width: 40.063em) {

	.sorting .row-wrap {
		background-color: #083a53;
	}

}

.sorting .row-wrap .medium-3 {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 40.063em) {

	.sorting .row-wrap .medium-3 {
		padding-left: 0.625em;
		padding-right: 0.625em;
	}

	.sorting .list-view {
	    border-left: 12px solid #e3e8de;
	}
}



    
    

/* form: team sort link
------------------------------------------------------------------------ */

.our-team .sorting .sort-label-wrap.columns {
    padding-right: 0.625em;
}

@media only screen and (min-width: 40.063em) {

	.our-team .sorting .sort-label-wrap.columns {
	    padding-right: 0;
	}

}


/* form: portfolio sort link
------------------------------------------------------------------------ */

.sorting .sort-label-wrap.columns {
	padding-right: 0;
	padding-left: 0;   /* NEW JAN 8 */
}
		
@media only screen and (min-width: 40.063em) {
	
	.sorting .sort-label-wrap {
		width: 11.5%;
	}

	.sorting .sort-label-wrap .sort-label {
		border-right: 4px solid #f9f9f7;
	}
	
}

.sorting .sort-label-wrap .sort-label {
	color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;
	background-color: #083a53;
	text-align: center;
	display: block;
}

.sorting .sort-label-wrap .sort-label a {
	color: #fff;
	display: block;
}

.sorting .sort-label-wrap .sort-label a:hover {
	color: #9aa6a1;
}


/* form: list view link
------------------------------------------------------------------------ */

.sorting .list-view-wrap.columns {
	padding-left: 0;
	padding-right: 0;   /* NEW JAN 11 */
}

@media only screen and (min-width: 40.063em) {
	
	.sorting .list-view-wrap {
		width: 21.5%;   /* NEW JAN 11 */
		display: block;
		right: 0;
	}
	
	.list-view-wrap.medium-push-custom {
	    position: relative;
	    left: 67%;   /* NEW JAN 11 */
	    right: auto;
	}
}

.sorting .list-view-wrap .list-view a {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 0.75em;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;
	background-color: #083a53;
	text-align: center;
	color: #fff;
	display: block;
}

.sorting .list-view-wrap .list-view:hover,
.sorting .list-view-wrap .list-view a:hover {
	color: #fff;
	background-color: #52728e;
}

@media only screen and (min-width: 40.063em) {
	
	.sorting .medium-3.columns {
		padding: 0;
	}
	
	.sorting .medium-3.medium-pull-2 {
	    position: relative;
	    right: 21.5% !important;
	    left: auto;
		padding-left: 0;  /* NEW JAN 11*/ 
	}
	
}


/* form: dropdowns
------------------------------------------------------------------------ */

.custom-dropdown-area {
	display: inline-block;
	margin: 0;
	position:relative;
	min-width: 150px;
	width: 100%;
}

.custom-dropdown-button {
	position: relative;
	background-color: #083a53;
	background-image: url('../img/sprite.png');
	background-position: -42px -120px;
	background-repeat: no-repeat;
	background-size: 170px 170px;
	border: none;
	padding: 1em 0 1em 5em;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	color: #fff;
	line-height: 1;
	border-radius: 0;
	height: auto;
	width: 100%;
	display: block;
	text-transform: uppercase;
}

.custom-dropdown-area:hover .custom-dropdown-button {
	color: #fff;
	background-color: #52728e;
}

.custom-dropdown-area:hover .custom-dropdown-options {
	background-color: #fff;
	border: none;
}

.custom-dropdown-button:disabled {
	background-color: #cdd8d8;
	cursor: default;
}

.custom-dropdown-options {
	background-color: #fff;
	border: none;
	margin-top: 0;
	max-width: 100%;
	width: 100% !important;
	padding: 0;
	color: #74868b;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 4px 8px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 4px 8px 0px rgba(50, 50, 50, 0.5);
	z-index: 4500;
}

.custom-dropdown-options li {
    font-size: 0.875em;
	padding: 0.75em 0 0.75em 2.75em;
}

.custom-dropdown-options li:hover {
	color: #4b5c60;
	background-color: #fff;
}

.custom-dropdown-options li.disabled {
	display: none;
}

.custom-dropdown-options:before, .custom-dropdown-options:after {
	display: none;
}

@media only screen and (max-width: 40em) {
  .custom-dropdown-options {
  	margin-left: -8px !important;
  }
}

.custom-dropdown-blank {
	position: relative;
	background-color: #083a53;
	border: none;
	padding: 1em 0 1em 5em;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.75em;
	line-height: 1;
	border-radius: 0;
	height: auto;
	width: 100%;
	display: block;
}

.custom-dropdown-area:hover .custom-dropdown-blank {
	color: #083a53;
	background-color: #083a53;
}

@media only screen and (max-width: 40em) {
  .custom-dropdown-blank {
  	display: none;
  }
}


/* form: news overview page with search utility
------------------------------------------------------------------------ */

.news-search-utility .custom-dropdown-area {
	min-width: 60px;
}

.news-search-utility .custom-dropdown-button {
	position: relative;
	background-image: none;
	padding: 1em 0 1em 1.25em;
	background-color: #083a53;
}

.news-search-utility .custom-dropdown-options li {
	padding: 0.5em 0 0.5em 1.25em;
}

.news-search-utility input[type="search"] {
	background-color: #f8f9f5;
	background-position: 6px -171px;
	background-size: 200px 200px;
	border: none;
	margin: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition-property: none;
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	color: #74868b;
	line-height: 1;
	text-transform: uppercase;
	height: 3em;
}

.news-search-utility input[placeholder] {
	color: #74868b;
	letter-spacing: 0.2em;
	padding: 0.16em 0 0 3em;
}

.news-search-utility input[type="search"]::-webkit-input-placeholder {
	color: #74868b;
	letter-spacing: 0.2em;
	padding-top: 0.16em;
}

.news-search-utility input[type="search"]::-moz-placeholder { 
	color: #74868b;
	letter-spacing: 0.2em;
	padding-top: 0.16em;
} 
.news-search-utility input[type="search"]:-moz-placeholder { 
	color: #74868b;
	letter-spacing: 0.2em;
	padding-top: 0.16em;
}

.news-search-utility input[type="search"]:-ms-input-placeholder { 
	color: #74868b;
	letter-spacing: 0.2em;
	padding-top: 0.16em;
}

.news-search-utility .media-inquiries p {
	font-size: 0.85em;
	line-height: 1.2;
	margin: 0;
}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   13. FOOTER
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


@media only screen and (max-width: 40em) {  
	
	footer .row {
		padding: 0.5em 0 0 0;
	}

	footer .footer-links {
		padding: 1.5em 0 0.5em 0;
		background-color: #083a53;
	}

}

footer p {
	font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 0.7em;
	line-height: 2;
	color: #bdc4c7;
}

.footer-brand a {
    width: 8.75em;
    height: 1.3em;
    display: block;
    margin: 0 auto 1em auto;
    text-align: center;
    color: #bdc4c7;
    background-color: transparent;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: 50% -27px;
    background-size: 200px 200px;
}

.footer-tag p {
	text-align: center;
}

@media only screen and (min-width: 64.063em) {  
	
	.footer-brand a {
		display: block;
		margin-right: 1.5em;
		text-align: left;
		float: left;
	}
	
	.footer-tag p {
		text-align: left;
		float: left;
	}
	
	.footer-links p a {
		float: left;
		margin-right: 3em;
		margin-bottom: 0;
		display: inline;
	}

}

.footer-links p a {
	display: block;
	color: #bdc4c7;
	text-transform: lowercase;
	margin-bottom: 2em;
	text-decoration: underline;
	text-align: center;
}

.footer-links p a:hover {
	color: #fff;
}

@media only screen and (min-width: 64.063em) {  
	
	.footer-links p a {
		float: left;
		margin-right: 3em;
		margin-bottom: 0;
		display: inline;
		text-align: left;
	}

}






/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   14. SPACING ADJUSTMENTS (to match design specs)
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* padding
------------------------------------------------------------------------ */

.top-pad-0 { padding-top: 0; }
.top-pad-5 { padding-top: 5px; }
.top-pad-10 { padding-top: 10px; }
.top-pad-20 { padding-top: 20px; }
.top-pad-25 { padding-top: 25px; }
.top-pad-30 { padding-top: 30px; }
.top-pad-35 { padding-top: 35px; }
.top-pad-40 { padding-top: 40px; }
.top-pad-45 { padding-top: 45px; }
.top-pad-50 { padding-top: 50px; }

.bottom-pad-0 { padding-bottom: 0; }
.bottom-pad-5 { padding-bottom: 5px; }
.bottom-pad-10 { padding-bottom: 10px; }
.bottom-pad-20 { padding-bottom: 20px; }
.bottom-pad-25 { padding-bottom: 25px; }
.bottom-pad-30 { padding-bottom: 30px; }
.bottom-pad-35 { padding-bottom: 35px; }
.bottom-pad-40 { padding-bottom: 40px; }
.bottom-pad-45 { padding-bottom: 45px; }
.bottom-pad-50 { padding-bottom: 50px; }

.right-pad-0 { padding-right: 0; }
.right-pad-10 { padding-right: 10px; }
.right-pad-20 { padding-right: 20px; }
.right-pad-30 { padding-right: 30px; }
.right-pad-40 { padding-right: 40px; }
.right-pad-50 { padding-right: 50px; }

.left-pad-0 { padding-left: 0; }
.left-pad-10 { padding-left: 10px; }
.left-pad-20 { padding-left: 20px; }
.left-pad-30 { padding-left: 30px; }
.left-pad-40 { padding-left: 40px; }
.left-pad-50 { padding-left: 50px; }

@media only screen and (max-width: 40em) {  

	.top-pad-30 { padding-top: 20px; }
	.top-pad-35 { padding-top: 25px; }
	.top-pad-40 { padding-top: 30px; }
	.top-pad-45 { padding-top: 35px; }
	.top-pad-50 { padding-top: 40px; }

	.bottom-pad-30 { padding-bottom: 20px; }
	.bottom-pad-35 { padding-bottom: 25px; }
	.bottom-pad-40 { padding-bottom: 30px; }
	.bottom-pad-45 { padding-bottom: 35px; }
	.bottom-pad-50 { padding-bottom: 40px; }

	.right-pad-0,
	.right-pad-10,
	.right-pad-20,
	.right-pad-30,
	.right-pad-40,
	.right-pad-50 {
		padding-right: 0.625em;
	}
	
	.left-pad-0,
	.left-pad-10,
	.left-pad-20,
	.left-pad-30,
	.left-pad-40,
	.left-pad-50 { 
		padding-left: 0.625em;
	}
	
}


/* margins
------------------------------------------------------------------------ */

.top-margin-0 { margin-top: 0; }
.top-margin-2 { margin-top: 2px; }
.top-margin-5 { margin-top: 5px; }
.top-margin-10 { margin-top: 10px; }
.top-margin-15 { margin-top: 15px; }
.top-margin-20 { margin-top: 20px; }
.top-margin-25 { margin-top: 25px; }
.top-margin-30 { margin-top: 30px; }
.top-margin-35 { margin-top: 35px; }
.top-margin-40 { margin-top: 40px; }
.top-margin-45 { margin-top: 45px; }
.top-margin-50 { margin-top: 50px; }

.bottom-margin-0 { margin-bottom: 0; }
.bottom-margin-5 { margin-bottom: 5px; }
.bottom-margin-10 { margin-bottom: 10px; }
.bottom-margin-15 { margin-bottom: 15px; }
.bottom-margin-20 { margin-bottom: 20px; }
.bottom-margin-25 { margin-bottom: 25px; }
.bottom-margin-30 { margin-bottom: 30px; }
.bottom-margin-35 { margin-bottom: 35px; }
.bottom-margin-40 { margin-bottom: 40px; }
.bottom-margin-45 { margin-bottom: 45px; }
.bottom-margin-50 { margin-bottom: 50px; }


@media only screen and (max-width: 40em) {  

	.top-margin-10 { margin-top: 0; }
	.top-margin-20 { margin-top: 5px; }
	.top-margin-30 { margin-top: 15px; }
	.top-margin-40 { margin-top: 25px; }
	.top-margin-50 { margin-top: 35px; }
	
	.bottom-margin-10 { margin-bottom: 0; }
	.bottom-margin-20 { margin-bottom: 5px; }
	.bottom-margin-30 { margin-bottom: 15px; }
	.bottom-margin-40 { margin-bottom: 25px; }
	.bottom-margin-50 { margin-bottom: 35px; }

	.top-margin-0-small { margin-top: 0; }
	.top-margin-10-small { margin-top: 10px; }
	.top-margin-20-small { margin-top: 20px; }
	.top-margin-30-small { margin-top: 30px; }
	.top-margin-40-small { margin-top: 40px; }
	.top-margin-50-small { margin-top: 50px; }

	.bottom-margin-0-small { margin-bottom: 0; }
	.bottom-margin-10-small { margin-bottom: 10px; }
	.bottom-margin-20-small { margin-bottom: 20px; }
	.bottom-margin-30-small { margin-bottom: 30px; }
	.bottom-margin-40-small { margin-bottom: 40px; }
	.bottom-margin-50-small { margin-bottom: 50px; }
}

@media only screen and (min-width: 40.01em) {  
	.bottom-margin-0-medium-up { margin-bottom: 0; }
	.bottom-margin-10-medium-up { margin-bottom: 10px; }
	.bottom-margin-20-medium-up { margin-bottom: 20px; }
	.bottom-margin-30-medium-up { margin-bottom: 30px; }
	.bottom-margin-40-medium-up { margin-bottom: 40px; }
	.bottom-margin-50-medium-up { margin-bottom: 50px; }
}