@font-face {
    font-family: 'montserratsemi_bold';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sina_novamedium';
    src: url('../fonts/SinaNovaMed-webfont.eot');
    src: url('../fonts/SinaNovaMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinaNovaMed-webfont.woff2') format('woff2'),
         url('../fonts/SinaNovaMed-webfont.woff') format('woff'),
         url('../fonts/SinaNovaMed-webfont.ttf') format('truetype'),
         url('../fonts/SinaNovaMed-webfont.svg#sina_novamedium') format('svg');
    font-weight: bold;
    font-style: normal;

}



@font-face {
    font-family: 'sina_novamedium_italic';
    src: url('../fonts/SinaNovaMedIta-webfont.eot');
    src: url('../fonts/SinaNovaMedIta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SinaNovaMedIta-webfont.woff2') format('woff2'),
         url('../fonts/SinaNovaMedIta-webfont.woff') format('woff'),
         url('../fonts/SinaNovaMedIta-webfont.ttf') format('truetype'),
         url('../fonts/SinaNovaMedIta-webfont.svg#sina_novamedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}